[Unit]
Description=ROS2 node %i
After=network-online.target

[Service]
User=triton
WorkingDirectory=/home/triton/Documents/cv-dev/TR-Autonomy-2024-2025/
ExecStart= \
  /bin/bash -lc \
  'source /opt/ros/humble/setup.bash && \
  source install/setup.bash && \
  ros2 run %i %i --ros-args --params-file comp.yaml'
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
