[Unit]
Description=Run ROS2 Pipeline
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/triton/Documents/TR-CV-2024/pipelineloop.bash
User=triton
WorkingDirectory=/home/triton/Documents/TR-CV-2024

[Install]
WantedBy=graphical.target
