[Unit]
Description=Run ROS2 Recorder
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/triton/Documents/TR-CV-2024/recordautoname.bash
User=triton
WorkingDirectory=/home/triton/Documents/TR-CV-2024

[Install]
WantedBy=graphical.target
