[Unit]
Description=[TR] ROS2 node YOLOX
After=network-online.target

[Service]
User=triton
WorkingDirectory=/home/triton/Documents/cv-dev/TR-Autonomy-2024-2025/
ExecStart= \
  /bin/bash -lc \
  'source /opt/ros/humble/setup.bash && \
  source install/setup.bash && \
  ros2 launch yolox_ros_cpp yolox_tensorrt.launch.py'
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
